[submodule "apps/admin-panel-service/src/models"]
	path = apps/admin-panel-service/src/models
	url = https://github.com/MihirBorsaniya/shared_models.git
[submodule "apps/auth-service/src/models"]
	path = apps/auth-service/src/models
	url = https://github.com/MihirBorsaniya/shared_models.git
